@import "tailwindcss";

:root {
  --background: #f5f7fb;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: auto;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  background: #f5f7fb;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

#__next {
  width: 100%;
  min-height: 100vh;
}
